<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.backend.mapper.BooksReverseMapper">

    <resultMap id="BaseResultMap" type="com.book.backend.pojo.BooksReverse">
            <id property="reverseId" column="id" jdbcType="INTEGER"/>
            <result property="cardNumber" column="card_number" jdbcType="BIGINT"/>
            <result property="bookNumber" column="book_number" jdbcType="BIGINT"/>
            <result property="reverseDate" column="reverse_date" jdbcType="TIMESTAMP"/>
            <result property="closeDate" column="close_date" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,card_number,book_number,
        reverse_date,close_date,return_date,
        create_time,update_time
    </sql>
</mapper>
